@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

footer {
  background: #CCCCCC;
  height: 40px;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: .8em;
}

footer a {
  text-decoration: none;
  color: black;
}

footer span {
  vertical-align: top;
}

#githubLogo {
  height: 14px;
  width: 14px;
  display: inline-block;
  background-image: url('./GitHub-Mark-32px.png');
  background-size: contain;
  margin-left: 3px;
}

.Main {
  min-height: calc(100vh - 121px);
  padding: 10px;
}

header {
  height: 60px;
  text-align: center;
}

button {
  padding: 5px;
  margin: 10px;
}

.General, .Work, .Education {
  margin: 10px auto;
  padding: 10px;
  border: 1px solid black;
  max-width: 1000px;
  background-color: white;
}

.Main {
  background-color: rgb(171, 198, 255);
}

input {
  margin: 5px;
}
