* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

footer {
  background: #CCCCCC;
  height: 40px;
  width: 100%;
  padding: 15px;
  text-align: center;
  font-size: .8em;
}

footer a {
  text-decoration: none;
  color: black;
}

footer span {
  vertical-align: top;
}

#githubLogo {
  height: 14px;
  width: 14px;
  display: inline-block;
  background-image: url('./GitHub-Mark-32px.png');
  background-size: contain;
}

.Main {
  height: calc(100vh - 120px);
  padding: 10px;
}

header {
  padding: 10px;
  height: 80px;
}
